@use '@/styles/variables.scss' as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 180px;
    max-width: 1100px;
    margin-inline: auto;
}

.title {
    text-transform: uppercase;
    white-space: nowrap;
}

@media(max-width: 1024px) {
    .header {
        width: 100%;
        margin-top: 120px;
    }
}
