@use '@/styles/variables.scss' as *;

.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 80px;
    margin-inline: auto;
    max-width: 693px;
    margin-top: 40px;
    gap: 15px;
}

.type {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2px;
}

@media(max-width: 1024px) {
    .types {
        padding-inline: 20px;
    }

    .home {
        padding: $padd-20;
    }
}
