@use '@/styles/variables.scss' as *;

.articles {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(373px, 1fr));
    grid-auto-rows: 1fr;
    width: 100%;
    margin-block: 56px;
    gap: $padd-40;
}

.earh {
    position: fixed;
    top: 0;
    left: -45%;
    z-index: -1;
}

.searchPage {
    margin-top: 56px;
}

.search {
    &__title {
        text-align: center;
        margin-top: $padd-40;
        margin-bottom: $padd-20;
    }
}

@media(max-width: 1024px) {
    .links {
        padding-inline: 20px;
        width: 100%;
    }

    .articles {
        grid-template-columns: 1fr;
    }
}
