@use '@/styles/variables.scss' as *;

.fields {
    display: flex;
    flex-direction: column;
    gap: $padd-20;
    margin-top: $padd-80;
    max-width: 50vw;
    margin-inline: auto;
}

.field {
    background-color: $secondary;
    color: $dark;
    padding: 12px $padd-20;
    margin-top: 10px;
    border: 1px solid $accent;
    max-height: 56px;
}

.btn {
    max-width: fit-content;
    margin-top: $padd-40;
    background-color: $secondary;
    background-color: rgb(218, 210, 202, 0.5);
    border: 3px solid $secondary;
}

.admin__panel {
    display: flex;
    flex-direction: column;
    margin-block: 80px;
    gap: $padd-40;
}

.admin__article {
    background-color: $accent;
    margin-inline: auto;

    @media(hover: hover) {
        &:hover {
            background-color: #635343;
        }
    }
}

@media(max-width: 1024px) {
    .fields {   
        max-width: 100%;
    }

    .btn {
        max-width: 100%;
    }
}
